{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link type='text/css' href='{% static "css/main.css" %}' rel='stylesheet' />

    {% include "home.html" %}

    <u id="Logo">
        <img src="{% static 'imagenes/Logo.jpg'%}" height="180px" width="200px" />
    </u>
    <u id="fotojonnathan">
        <center><img src="{% static 'imagenes/jonnathan.jpg'%}" height="170px" width="190px" /></center>
    </u>

    <div>

        <ul id="opinionjonnaathan">

            Nombre: Jonnathan Bueno<br />
            Edad: 20 años<br />
            Docente: Ing. Lady Sangacha<br />
            Curso: M3B Matutino<br />

            Opinión:<br />
            Sobre Diseño de Interfaz me agrada mucho esta<br />
            asignatura ya que trata sobre el como realizar<br />
            un buena interfaz e ir mejorando en el diseño<br />
            de acuerdo al usuario o al cliente y conocer<br />
            las herramientas adecuadas para<br />
            un correcto desarrollo de la GUI.<br />


        </ul>


    </div>


    <div>
        <u id="fotoluis">
            <img src="{% static 'imagenes/Luis.jpg'%}" height="170px" width="190px" />
        </u>
    </div>

    <div>

        <ul id="opinionluis">

            Nombre: Luis Saico<br />
            Edad: 28 años<br />
            Docente: Ing. Lady Sangacha<br />
            Curso: M3B Matutino<br />

            Opinión:<br />
            Sobre Diseño de Interfaz ya tengo experiencia en diseñar <br />
            ya que eh trabajado en empresas pero quiero seguir <br />
            mejorando para una excelente atención al cliente y me da<br />
            curiosidad hasta donde puedo llegar para un excelente<br />
            diseño. <br />
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    </body>

</html>