{% load static %}

<!doctype html>
<html>
<link type='text/css' href='{% static "css/main.css" %}' rel='stylesheet' />

<ul id="piedepagina">

<ul id="piepagina">
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <div class="one_quarter first">
        <h6 class="heading">ABOUT</h6>
        <ul class="nospace linklist">
          <li>Press</li>
          <li>Carrers</li>
          <li>Jobs</li>
          <li>Blog</li>
          <li>Fas</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Search By</h6>
        <ul class="nospace linklist">
          <li>Doctor Name</li>
          <li>Professional Name</li>
          <li>Speciality</li>
          <li>Procedure</li>
          <li>Language</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Cities</h6>
        <ul class="nospace linklist">
          <li>Bangalore</li>
          <li>Bangalore</li>
          <li>Bangalore</li>
          <li>Bangalore</li>
          <li>Bangalore</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Specialities</h6>
        <ul class="nospace linklist">
          <li>Chiropractors</li>
          <li>Cardiologists</li>
          <li>Dermatologist</li>
          <li>Dentist</li>
          <li>Eye Doctors</li>
        </ul>
      </div>

    </ul>

  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
</ul>

</html>